.App {
  text-align: center;
  display: inline-flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ch{
 display: inline-flex;
 margin-top: 200px;
 margin-left: 50px;
}

.hello{
  height: 400px;
  width: 600px;
  margin-right: 50px;
  margin-left: 200px;
  background-color: #f7efef;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 8px  #9b9b9b,0 8px 8px   #e4e4e4;
  border: outset none solid;
}
.full{
  height: 100%;
}
h5{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(143, 84, 18);
  text-shadow: 5px 5px 5px #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

